/* general styles */

body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

a {
  color: black;
}

/* general content styles */
.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  border: 1px solid black;
}

.stories .text-content {
  height: 250px;
  border: 1px solid black;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
}

.image-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  border: 1px solid black;
}

/* header properties */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  padding-left: 30px;
  align-items: center;
}

.logo span {
  color: MediumAquamarine;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

header nav {
  padding-right: 40px;
}

/* content properties */

.content {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 1232px;
  background-color: white;
  padding-top: 116px;
  margin: 0 auto 78px auto;
}

.column {
  display: flex;
  flex-direction: column;
}

/* right large column */
.column.large {
  width: 630px;
  border: 1px solid black;
}

.main-story .image-bg {
  background-image: url(../images/story-main.png);
  text-align: left;
  font-size: 40px;
}

.earth.image-bg {
  background-image: url(../images/story-2-earth.png);
}

.cameraman.image-bg {
  background-image: url(../images/story-3-camera.png);
}

/* middle medium column */

.column.medium {
  width: 300px;
  border: 1px solid black;
}

.cat.image-bg {
  background-image: url(../images/story-1-cat.png);
}

/* left small column */
.column.small {
  width: 240px;
  border: 1px solid black;
}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bites .bite {
  display: block;
  padding: 11px 20px;
  background-color: whitesmoke;
  border-bottom: 1px solid black;
  color: dimgray;
  font-family: Verdana;
  font-size: 12px;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: mediumaquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 325px;
}

.footer-title {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}
